<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p>Ver Productos Disponibles</p>
    <ion-button (click) = "goToMarketPlace()">Productos</ion-button>

    <p>Añadir Un producto a la venta</p>
    <ion-button (click) = "goToAddItem()">Vender</ion-button>
  </div>
</ion-content>
