<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p>Página Ejemplo</p>
    <ion-button (click) = "goToShopList()">Lista de clientes Stisfechos</ion-button>

    <ion-list>
        <ion-item *ngFor=" let s of shops">
          <ol>
          <p>address: {{s.address}}</p>
          <p>telephone: {{s.telephone}}</p>
        </ol>
        </ion-item>  
    </ion-list>
  </div>
  <!--io-button expand="block" (click)="goToShopList()">Lista de Tiendas</io-buon-->

</ion-content>